<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
        <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <div th:replace="~{componentes/header :: header}" ></div>
    
    <!-- para el cliente  -->
    <div th:replace="~{componentes/sidebarCliente :: sidebarCliente}" ></div>

    <!-- <span th:text="${session.usuario.nombre}"></span>
    <span th:text="${session.usuario.email}"></span>
    <span th:text="${session.usuario.rol}"></span> -->

    <div th:replace="~{componentes/footer :: footer}" ></div>
</body>
</html>