<html lang="es" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="topbrand" th:fragment="header">

    <div class="brand">
        <i data-icon="box"></i>
        <div>
            RutaExpress
            <br>
            <small>Panel de la plataforma</small>
        </div>
    </div>

    <div class="role-tabs">

        <a th:href="@{/}" class="role-tab " data-role="remitente">
            <i data-icon="send"></i>
            <span class="txt">Inicio</span>
        </a>

        <a th:href="@{#servicio}" class="role-tab ">
            <i data-icon="truck"></i>
            
            <span  class="txt">Servicios</span>
        </a>

        <!-- Perfil -->
        <a th:if="${session.usuario == null}"
           th:href="@{/login}"
           class="role-tab"
           data-role="admin">
            <i data-icon="chart"></i>
            <span class="txt">Perfil</span>
        </a>

        <a th:if="${session.usuario != null and session.usuario.rol.name() == 'CLIENTE'}"
           th:href="@{/cliente/dashboard}"
           class="role-tab"
           data-role="admin">
            <i data-icon="chart"></i>
            <span class="txt">Perfil</span>
        </a>

        <a th:if="${session.usuario != null and session.usuario.rol.name() == 'REPARTIDOR'}"
           th:href="@{/repartidor/dashboard}"
           class="role-tab"
           data-role="admin">
            <i data-icon="chart"></i>
            <span class="txt">Perfil</span>
        </a>

        <a th:if="${session.usuario != null and session.usuario.rol.name() == 'ADMINISTRADOR'}"
           th:href="@{/administrador/dashboard}"
           class="role-tab"
           data-role="admin">
            <i data-icon="chart"></i>
            <span class="txt">Perfil</span>
        </a>

        <!-- Ingresar -->
        <div th:if="${session.usuario == null}">
            <a  th:href="@{/login}">
               <button class="role-tab">
                   Ingresar     
            </button> 
            </a>
        </div>

        <!-- Usuario -->
        <div th:if="${session.usuario != null}" class="dropdown">

            <button class="role-tab">
                <span th:text="${session.usuario.nombre}"></span>
            </button>

            <div class="dropdown-content">

                <a th:if="${session.usuario.rol.name() == 'CLIENTE'}"
                   th:href="@{/cliente/dashboard}">
                    Mi perfil
                </a>

                <a th:if="${session.usuario.rol.name() == 'REPARTIDOR'}"
                   th:href="@{/repartidor/dashboard}">
                    Mi perfil
                </a>

                <a th:if="${session.usuario.rol.name() == 'ADMINISTRADOR'}"
                   th:href="@{/administrador/dashboard}">
                    Mi perfil
                </a>

                <a th:href="@{#}">Configuración</a>
                <a th:href="@{#}">Preguntas frecuentes</a>

                <hr>

                <a th:href="@{/logout}">Cerrar sesión</a>

            </div>

        </div>

    </div>

</div>

<script th:src="@{/scripts/controlDepaneles.js}"></script>

</body>

</html>