<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RutaExpress - Registro</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>


<body>

        <div th:replace="~{componentes/header :: header}" ></div>


<div class="login-container">


    <div class="login-box">


        <h1>RutaExpress</h1>

        <h2>Iniciar sesión  </h2>


            <div class="input-group">

                <label>Nombre </label>

                <input 
                    type="text"

                    placeholder="Juan Pérez"
                    required>

            </div>



            <div class="input-group">

                <label>Contraseña</label>

                <input 
                    type="password"

                    placeholder="********"
                    required>

            </div>



            <button type="submit">
                Iniciar sesión
            </button>






        <p>

            ¿no tienes cuenta?

            <a href="/registro">
                Crear cuenta
            </a>

        </p>



    </div>


</div>

<div th:replace="~{componentes/footer :: footer}" ></div>

</body>

</html>